<h1>Individuals</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Activated</th>
    <th>Enabled</th>
  </tr>
  
<% for individual in @individuals %>
  <tr>
    <td><%=h individual.login %></td>
    <td><%=h individual.email %></td>
    <td><%=h individual.first_name %></td>
    <td><%=h individual.last_name %></td>
    <td><%=h individual.activated? %></td>
    <td><%=h individual.enabled %></td>
	
    <td><%= link_to 'View', individual %></td>
    <td><%= link_to 'Edit', edit_individual_path(individual) %></td>
    <td><%= link_to 'Delete', individual, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New individual', :action => 'new' %>
