<div selected="true">
<center><%= image_tag "logo_small.gif" %></center>
<% form_tag session_path, :style => 'background-color:#F2F3AF' do %>
<% if flash[:notice] -%>
	<center><div id="notice"><%= flash[:notice] %></div></center>
<% end -%>
  <table>
    <tr>
		<th>User name:</th>
		<td><%= text_field_tag 'login', '', :autocorrect => 'off', :autocapitalize => 'off' %></td>
    </tr>
    <tr>
		<th>Password:</th>
		<td><%= password_field_tag 'password', '', :autocorrect => 'off', :autocapitalize => 'off' %></td>
    </tr>
	<tr><td align='center' colspan='2'><%= check_box_tag 'remember_me' %><label for="remember_me">Remember me</label></td></tr>
  </table>
  <%= submit_tag "Login" %>
<% end %>
</div>