<%= error_messages_for :individual %>

<% form_for(@individual) do |f| %>

<table>
  <tr><td><label for="individual_first_name">First name:</label></td>
  <td><%= f.text_field :first_name, :maxlength => 40 %></td></tr>

  <tr><td><label for="individual_last_name">Last name:</label></td>
  <td><%= f.text_field :last_name, :maxlength => 40 %></td></tr>

  <tr><td><label for="individual_email">Email address:</label></td>
  <td><%= f.text_field :email, :maxlength => 100 %></td></tr>

  <tr><td><label for="individual_login">Login:</label></td>
  <td><%= f.text_field :login, :maxlength => 40  %></td></tr>

  <tr><td><label for="individual_password">Password:</label></td>
  <td><%= f.password_field :password, :maxlength => 40 %></td></tr>

  <tr><td><label for="individual_password_confirmation">Confirm Password:</label></td>
  <td><%= f.password_field :password_confirmation, :maxlength => 40 %></td></tr>

  <tr><td><label for="individual_enabled">Enabled</label></td>
  <td><%= f.select :enabled, { 'True' => true, 'False' => false } %></td></tr>
</table>

  <p><%= f.submit action %></p>

<% end %>