<% for individual in @individuals %>
  <tr id='individual_<%= individual.id %>'>
    <td><%=h individual.login %></td>
    <td><%=h individual.email %></td>
    <td><%=h individual.first_name %></td>
    <td><%=h individual.last_name %></td>
    <td><%=h individual.activated? %></td>
    <td><%=h individual.enabled %></td>
	
    <td><%= link_to image_tag('show.png', :alt => 'View', :size => '24x24'), individual %>
    <%= link_to image_tag('edit.png', :alt => 'Edit', :size => '24x24'), edit_individual_path(individual) %>
    <%= link_to_remote image_tag('delete.png', :alt => 'Delete', :size => '24x24'), :url => individual_path(individual), :confirm => 'Are you sure?', :method => :delete, :update => 'individuals' %></td>
  </tr>
<% end %>
