<% if @logo != nil %>
<%= @logo %>
<% end %>
<p>Welcome to Planigle!  An account has been created for you:</p>
  <p><b>Username:</b> <%= @individual.login %><br />
  <% if config_option(:use_ldap) %>
    <b>Password:</b> Please use your LDAP password for domain <%= config_option(:domain_suffix) %></p>
  <% else %>
    <b>Password:</b> <%= @individual.password %></p>
  <% end %>

<p>Please visit this url to activate your account:</p>
  <p><a href="<%= @url %>"><%= @url %></a></p>

<% if @project != nil && @project.individuals.count == 1 && @project.premium_expiry > Date.today %>
  <p>Your project has been enabled for the Premium Edition of Planigle.  This includes reporting and analysis, an iPhone interface, notification and many other productivity enhancing capabilities.  For a complete list of premium features, see <a href="http://www.planigle.com/products/features">http://www.planigle.com/products/features</a>.  On <%= @project.premium_expiry.strftime("%B %e")%> your project will automatically convert to the Community Edition of Planigle.  To extend your use of the Premium Edition, contact us at <a href="mailto:<%= @support%>"><%= @support%></a>.</p>
<% end %>

  <p>We hope that you find Planigle to be an easy to use, productive way to manage your backlog, your iterations and your releases.  To see a quick demo of Planigle, <a href="http://www.planigle.com/demo/Planigle%20Demo.htm">click here</a>.
<% if @backlog != nil %>
  To view and help prioritize Planigle's backlog, <a href="<%= @backlog%>">click here</a>.
<% end %>
<% if @support != nil %>
  Finally, we welcome your feedback.  Please send questions and comments to <a href="mailto:<%= @support%>"><%= @support%></a>.
<% end %>
  </p>
