<h1>Stories<%= @iteration ? ' for ' << h(@iteration.name) : '' %><%= link_to image_tag('new.png', :alt => 'New', :size => '24x24'), @iteration ? new_iteration_story_path(@iteration) : new_story_path %></h1>

<table>
  <tr>
    <th>Name</th>
	<% if !@iteration %>
    <th>Iteration</th>
	<% end %>
    <th>Effort</th>
    <th>Status</th>
  </tr>
  <tbody id='stories'>
    <%= render :partial=>'stories' %>
  </tbody>
</table>
<%= sortable_element 'stories', :tag => 'tr', :url => {:action => 'sort_stories'} %>

<% if @iteration %>
<p>
<%= link_to image_tag('cancel.png', :alt => 'Cancel', :size => '24x24'), iterations_path %>
</p>
<% end %>