<h1>View Story</h1>

<table>
  <tr><td><b>Name:</b></td><td><%=h @story.name %></td></tr>
  <tr><td><b>Iteration:</b></td><td><%=h iteration(@story) %></td></tr>
  <tr><td><b>Description:</b></td><td><%=h @story.description %></td></tr>
  <tr><td><b>Acceptance Criteria:</b></td><td><%=h @story.acceptance_criteria %></td></tr>
  <tr><td><b>Effort:</b></td><td><%=h @story.effort %></td></tr>
  <tr><td><b>Status:</b></td><td><%= @story.status %></td></tr>
</table>

<p>
<%= link_to image_tag('edit.png', :alt => 'Edit', :size => '24x24'), @iteration ? edit_iteration_story_path(@iteration, @story) : edit_story_path(@story) %>
<%= link_to image_tag('cancel.png', :alt => 'Cancel', :size => '24x24'), @iteration ? iteration_stories_path(@iteration) : stories_path %>
</p>