<%= error_messages_for :story %>

<% form_for(@story) do |f| %>
	
  <table>
    <tr><td><label for="story_name">Name:</label></td>
    <td><%= f.text_field :name, :maxlength => 40  %></td></tr>
	
    <tr><td><label for="story_description">Description:</label></td>
    <td><%= f.text_area :description, :rows => 6, :maxlength => 4096 %></td></tr>
 	
    <tr><td><label for="story_acceptance_criteria">Acceptance Criteria:</label></td>
    <td><%= f.text_area :acceptance_criteria, :rows => 6, :maxlength => 4096 %></td></tr>
	
    <tr><td><label for="story_effort">Effort:</label></td>
    <td><%= f.text_field :effort, :maxlength => 7 %></td></tr>
	
    <tr><td><label for="story_status">Status:</label></td>
    <td><%= f.select :status, status_mapping %></td></tr>
  </table>

  <p><%= f.submit action %></p>

<% end %>