<% for story in @stories %>
  <tr id='story_<%= story.id %>'>
    <td><%=h story.name %></td>
    <td><%=h story.effort %></td>
    <td><%= story.status %></td>

    <td><%= link_to 'View', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to_remote 'Delete', :url => story_path(story), :confirm => 'Are you sure?', :method => :delete, :update => 'stories' %></td>
  </tr>
<% end %>
