<h1>Stories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Effort</th>
    <th>Status</th>
  </tr>

<% for story in @stories %>
  <tr>
    <td><%=h story.name %></td>
    <td><%=h story.effort %></td>
    <td><%= story.status %></td>

    <td><%= link_to 'View', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Delete', story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New story', new_story_path %>
