<% if @logo != nil %><%= @logo %><% end %><br/>
<p>A new company has been created on Planigle.</p>
  <p><b>Company Name:</b> <%= @company.name %><br />
  <b>Project Name:</b> <%= @project.name %><br />
  <b>Primary Contact:</b> <%= @individual.first_name %> <%= @individual.last_name %><br />
  <b>Email:</b> <%= @individual.email %><br />
  <b>Phone Number:</b> <%= @individual.phone_number %></p>  