<%= error_messages_for :iteration %>

<% form_for(@iteration) do |f| %>
	
  <table>
    <tr><td><label for="iteration_name">Name:</label></td>
    <td><%= f.text_field :name, :maxlength => 40  %></td></tr>
	
    <tr><td><label for="iteration_start">Start:</label></td>
    <td><%= f.date_select :start %></td></tr>
 	
    <tr><td><label for="iteration_length">Length:</label></td>
    <td><%= f.text_field :length, :value => 2, :maxlength => 2 -%> weeks</td></tr>
  </table>

  <p><%= f.submit action %></p>

<% end %>