<% for iteration in @iterations %>
  <tr id='iteration_<%= iteration.id %>'>
    <td><%=h iteration.name %></td>
    <td><%= iteration.start %></td>
    <td><%= iteration.length %> weeks</td>

    <td><%= link_to image_tag('show.png', :alt => 'View', :size => '24x24'), iteration %></td>
    <td><%= link_to image_tag('edit.png', :alt => 'Edit', :size => '24x24'), edit_iteration_path(iteration) %></td>
    <td><%= link_to_remote image_tag('delete.png', :alt => 'Delete', :size => '24x24'), :url => iteration_path(iteration), :confirm => 'Are you sure?', :method => :delete, :update => 'iterations' %></td>
  </tr>
<% end %>
